body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.style-home{
  padding-bottom: 20px;
}

.style-button{
  padding-top: 31px;
}

.text-position{
  text-align:left
}

.spinner-border{
  width: 5rem; 
  height: 5rem;
}


.color-message{
  color: red;
}